extends layout

block content
  .container
     .row.justify-content-center.align-items-center(style='height:100vh')
        .col-4
            .card
                h4.text-center.mt-3
                    b Please Login
                .card-body
                    form(action='', autocomplete='off')
                        .form-group
                            input.form-control(type='email', name='username', required='required')
                        .form-group
                            input.form-control(type='password', name='password', required='required')
                        button#sendlogin.btn.btn-danger(type='button') login
                        div.text-center.mt-3
                            | Don't have an account:
                            a.text-danger.ml-2(href='/register') Sign up